h1{
    font-family: 'Courier New', Courier, monospace;
    color:darkgreen;
}

#other{
    color:lightseagreen;
    background-color: indianred;
    text-shadow: 2px 2px 2px black;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav{
    background-color: indianred;
    padding: 1%;
    margin-bottom: 2%;
}

/*units for height + width*/
/*em = relative to the font size of the parent element*/
/*rem = relative to the font size of the root element*/